# Python
server/venv/
__pycache__/
*.pyc

# Node
client/node_modules/

# Environment variables
.env
client/.env
server/.env

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build
dist/
build/

# uploads from client
server/data/uploads/